<!-- Este es el componente navbar -->

<nav class="navbar">
    <ul class="navbar__list">
    <li class="navbar__item"><a href="/frontend/views/pages/index.html" class="navbar__link">Inicio</a></li>
    <li class="navbar__item"><a href="/frontend/views/pages/clients.html" class="navbar__link">Clientes</a></li>
    <li class="navbar__item"><a href="/frontend/views/pages/about.html" class="navbar__link">Sobre mi</a></li>
     <li class="navbar__item"><a href="/frontend/views/pages/contact.html" class="navbar__link">Contacto</a></li> 
    
           
</ul>
</nav>