<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/frontend/css/styles.css">

    <!-- selector de atributo -->
    <script src="/frontend/js/components/navbarLoad.js"> </script>
</head>
<body>
    <!-- El encabezado -->
    <header class="header">
        <h1 class="title">Estefania herrera<span class="subtitle"> Rico programar</span></h1>
    </header><!--header-->

    <!-- Aqui voy a insertar el navbar -->
     <div class="navbar-container">
        
     </div>

    <!-- Nav-bar section -->
    

     <h1>Estoy en mi apartado</h1>

   
     
</body>
</html>