<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/frontend/css/styles.css">

    <!-- selector de atributo -->
    <script src="/frontend/js/components/navbarLoad.js"> </script>
    <script src="/frontend/js/components/heroLoad.js"> </script>
</head>
<body>
    <!-- El encabezado -->
    <header class="header">
        <h1 class="title">Estefania herrera<span class="subtitle"> Rico programar</span></h1>
    </header><!--header-->

    <!-- Aqui voy a insertar el navbar -->
    <div class="navbar-container">
        
     </div>

     <div 
        class="hero-container">
    </div>

    <!-- Nav-bar section -->
    

     <h1>Estoy en inicio</h1>

    <!-- <section class="texts">

        <p class="text" >Text 1</p>
        <p class="text">Text 2</p>
        <p class="text">Text 3</p>
        <p class="text">Text 4</p>
        <p class="text">Text 5</p>
        <p class="text">Text 6</p>
        <p class="text">Text 7</p>
        <p class="text">Text 8</p>
        <p class="text">Text 9</p>

    </section> -->
        <!-- alt presionado -->
     
</body>
</html>